---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<h1>Archive</h1>
<h3>🏷️ By <a href="/tags">Tags</a></h3>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
